*.iml
.gradle
/local.properties
/local.properties.template
/.idea/*
!/.idea/copyright/
!/.idea/encodings.xml
.DS_Store
/build
/captures
.externalNativeBuild
/app/release
.cxx
/app/src/main/lint.xml
devkey.jks
