*.iml
.gradle
/local.properties
/.idea/caches
/.idea/dictionaries
/.idea/inspectionProfiles
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/deploymentTargetDropDown.xml
/.idea/jsonSchemas.xml
.DS_Store
/build
/captures
.externalNativeBuild
/app/release
.cxx
/app/src/main/lint.xml
devkey.jks
