<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools">

	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission
		android:name="android.permission.WRITE_EXTERNAL_STORAGE"
		tools:ignore="ScopedStorage" />
	<uses-permission
		android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
		tools:ignore="ScopedStorage" />
	<uses-permission android:name="android.permission.VIBRATE" />
	<uses-permission android:name="android.permission.CAMERA" />
	<uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
	<uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />

	<application
		android:name="androidx.multidex.MultiDexApplication"
		android:allowBackup="true"
		android:dataExtractionRules="@xml/data_extraction_rules"
		android:fullBackupContent="@xml/backup_descriptor"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:requestLegacyExternalStorage="true"
		android:largeHeap="true"
		android:roundIcon="@mipmap/ic_launcher_round"
		android:supportsRtl="true"
		android:theme="@style/AppTheme"
		android:usesCleartextTraffic="true"
		tools:targetApi="s">
		<activity
			android:name=".MainActivity"
			android:configChanges="keyboardHidden|orientation|screenSize"
			android:exported="true"
			android:hardwareAccelerated="true"
			android:theme="@style/AppTheme.NoActionBar">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity
			android:name=".TWEditorWV"
			android:configChanges="keyboardHidden|orientation|screenSize|uiMode"
			android:alwaysRetainTaskState="true"
			android:hardwareAccelerated="true"
			android:launchMode="singleTask"
			android:theme="@style/AppTheme.NoActionBar" />
		<service android:name=".KeepAliveService" />
		<activity
			android:name=".HandlerActivity"
			android:exported="true"
			android:label="@string/entry_name">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />

				<data android:scheme="content" />
				<data android:mimeType="text/html" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />

				<data android:scheme="file" />
				<data android:mimeType="text/html" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />

				<data android:scheme="content" />
				<data android:mimeType="application/hta" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />

				<data android:scheme="file" />
				<data android:mimeType="application/hta" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />

				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />

				<data android:scheme="http" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />

				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />

				<data android:scheme="https" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />

				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />

				<data android:scheme="file" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.SEND" />
				<category android:name="android.intent.category.DEFAULT" />

				<data android:mimeType="*/*" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.SEND_MULTIPLE" />
				<category android:name="android.intent.category.DEFAULT" />

				<data android:mimeType="*/*" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.PROCESS_TEXT" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="text/plain" />
			</intent-filter>
		</activity>
	</application>
</manifest>